.alerts-primary {
    padding: 0.5rem;
    background-color: #5f4fca;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.alerts-success {
    padding: 0.5rem;
    background-color: #46cd87;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.alerts-danger {
    padding: 0.5rem;
    background-color: #ca4f4f;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.text-small {
    font-size: 0.9rem;
}

.text-smalls {
    font-size: 0.7rem;
}

.scrolling {
    overflow-y: auto;
    height: 74vh;
}

.flexing-down {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.clipboard {
    padding: 0 0.2rem;
    display: flex;
}

.clipboard-btn {
    border: none;
    padding: 0.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: 1px solid #D22344;
}

.clipboard-input {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: none;
    background-color: #e9ecef;
    border: 1px solid #D22344;
    padding: 0.5rem;
    font-weight: bold;
    color: #D22344;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.visitors-input {
    display: flex;
    justify-content: center;
    align-items: center;
}