@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
* {
    font-family: "Quicksand", "sans-serif";
}

.vh-100 {
    height: 100vh;
}

.over-yx-auto {
    overflow-x: auto;
    overflow-y: hidden;
}

.txt-primary {
    color: #555064;
}

.txt-secondary {
    color: #D22344;
}

.bg-main {
    background-color: #D22344;
}

.px-7rem {
    padding: 0 7rem;
}

.slim-font200 {
    font-weight: 200;
}

.fw-bold-600 {
    font-weight: 600;
}

.fw-bold-300 {
    font-weight: 300;
}

.fw-bold-400 {
    font-weight: 400;
}

.fw-bold-500 {
    font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.txt-muted {
    color: #a8a8a8;
    font-size: 1rem;
}


.buttons {
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
}

.input-primay {
    background-color: #EDF5F8;
    font-size: 0.8rem;
    padding: 0.6rem 0.5rem;
    font-weight: 400;
    border: none;
    color: #9996A2;
}

.container-loading {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717c4;
}

.flexs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

  /* =Elements style
  ---------------------- */
  /* .load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
  } */
  

  .load-wrapp:last-child {
    margin-right: 0;
  }
  
  .line {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 0.2rem;
    background-color: #D22344;
    box-shadow: 0 0 5px #000000;
  }
  
  .ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
  }
  
  .ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
  }
  
  .ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
  }
  
  .ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282b3;
  }
  
  .letter-holder {
    padding: 16px;
  }
  
  .letter {
    float: left;
    font-size: 14px;
    color: #777;
  }
  
  .square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
  }
  
  .spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
  
  .bubble-1,
  .bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
  }
  
  .bubble-2 {
    top: auto;
    bottom: 0;
  }
  
  .bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
  }
  
  
  /* =Animate the stuff
  ------------------------ */
  .load-1 .line:nth-last-child(1) {
    animation: loadingA 1.5s 1s infinite;
  }
  .load-1 .line:nth-last-child(2) {
    animation: loadingA 1.5s 0.5s infinite;
  }
  .load-1 .line:nth-last-child(3) {
    animation: loadingA 1.5s 0s infinite;
  }
  
  .load-2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
  }
  .load-2 .line:nth-last-child(2) {
    animation: loadingB 1.5s 0.5s infinite;
  }
  .load-2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
  }
  
  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
  
  .load-4 .ring-1 {
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  
  .load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
  }
  
  .load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
  }
  
  .l-1 {
    animation-delay: 0.48s;
  }
  .l-2 {
    animation-delay: 0.6s;
  }
  .l-3 {
    animation-delay: 0.72s;
  }
  .l-4 {
    animation-delay: 0.84s;
  }
  .l-5 {
    animation-delay: 0.96s;
  }
  .l-6 {
    animation-delay: 1.08s;
  }
  .l-7 {
    animation-delay: 1.2s;
  }
  .l-8 {
    animation-delay: 1.32s;
  }
  .l-9 {
    animation-delay: 1.44s;
  }
  .l-10 {
    animation-delay: 1.56s;
  }
  
  .load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  
  .load-8 .line {
    animation: loadingH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  
  .load-9 .spinner {
    animation: loadingI 2s linear infinite;
  }
  .load-9 .bubble-1,
  .load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
  }
  .load-9 .bubble-2 {
    animation-delay: -1s;
  }
  
  .load-10 .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  
  @keyframes loadingA {
    0 {
      height: 15px;
    }
    50% {
      height: 35px;
    }
    100% {
      height: 15px;
    }
  }
  
  @keyframes loadingB {
    0 {
      width: 15px;
    }
    50% {
      width: 35px;
    }
    100% {
      width: 15px;
    }
  }
  
  @keyframes loadingC {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes loadingD {
    0 {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loadingE {
    0 {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loadingF {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes loadingG {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(70px, 0) rotate(360deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
  
  @keyframes loadingH {
    0% {
      width: 15px;
    }
    50% {
      width: 35px;
      padding: 4px;
    }
    100% {
      width: 15px;
    }
  }
  
  @keyframes loadingI {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes loadingJ {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(80px, 0);
      background-color: #f5634a;
      width: 25px;
    }
}

@media only screen and (max-width: 414px) {
  #containerForm {
    display: none!important;
  }

  #navbarSupportedContent li {
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    font-weight: 500!important;
  }
  .d-none-in-mobile {
    display: none!important;
  }

  .footer-navbar-mobile {
    display: flex!important;
    justify-content: center;
  }

  .navbar {
    background-color: #fff!important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navbar-toggler {
    border: none;
  }
}

@media only screen and (min-width: 1000px) {
  .hide-in-web {
    display: none!important;
  }
}


.border-none:focus {
  border: none!important;
  outline: none!important;
}

.btnHamburger {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}

.t-left {
  text-align: left!important;
}


  