/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edf5f8;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c2c9;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #9996a2;
} */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 3;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  color: #D22344;
  font-size: 24px;
  font-weight: 700;
}

.nav-item a {
  color: #555064;
  font-size: 16px;
  font-weight: 700;
  padding: 0 15px !important;
}

/* SCROLL NAV STYLE */
.active_nav {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.active_nav .btn-white {
  background-color: rgba(210, 35, 68, 0.15);
}

.hero {
  display: flex;
  align-items: center;
  /* background-image: url(../images/bg-hero.png); */
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  height: 100vh;
}

.hero-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
}

.hero-bg-left {
  width: 60%;
  background-color: white;
  height: 100%;
}

.hero-bg-right {
  width: 40%;
  height: 100%;
  background-color: #D22344;
  border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -ms-border-radius: 0 0 0 100px;
  -o-border-radius: 0 0 0 100px;
}

.hero-content {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left {
  width: 60%;
  padding-right: 100px;
}

.hero-left h1 {
  color: #555064;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  margin-bottom: 30px;
}

.hero-left p {
  color: #9996a2;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 50px;
}

.btn-red {
  text-decoration: none;
  background-color: #D22344;
  color: white;
  font-weight: 700;
  padding: 22px 35px;
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.btn-white {
  text-decoration: none;
  background-color: white;
  color: #D22344;
  font-weight: 700;
  padding: 18px 35px;
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.hero-right {
  display: flex;
  
  justify-content: end;
  width: 100%;
  align-items: flex-end;
}

.hero-right img {
  width: 50%;
}

.red {
  color: #D22344;
}

.webinar {
  margin-top: 150px;
  margin-bottom: 225px;
}

.webinar-card:hover {
  box-shadow: 0 0 15px -2px #555063;
  transition: 0.5s;
}

.section-title h2 {
  text-align: center;
  color: #555064;
  font-weight: 700;
  font-size: 38px;
  line-height: 150%;
  margin-bottom: 50px;
}

.webinar-content {
  display: flex;
  overflow-y: hidden;
}

.webinar-card {
  width: 350px;
  padding: 30px;
  margin: 30px 30px;
  background-color: #edf5f8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  flex: 0 0 20rem;
  cursor: pointer;
  transition: 0.5s;
}

.webinar-card img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.webinar-card h3 {
  color: #555064;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.webinar-card p {
  color: #7e7b85;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 30px;
}

.btn-red-detail {
  width: 100%;
  text-decoration: none;
  background-color: #D22344;
  color: white;
  font-weight: 700;
  padding: 16px 35px;
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: rgba(210, 35, 68, 0.15); */
}

.tentang-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  background-color: #edf5f8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-right: 50px;
}

.tentang-video iframe {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.tentang-title {
  width: 50%;
}

.tentang-title h2 {
  color: #555064;
  font-weight: 700;
  font-size: 38px;
  line-height: 150%;
  margin-bottom: 30px;
}

.tentang-title p {
  color: #9996a2;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.loker {
  margin-top: 200px;
  margin-bottom: 225px;
}

.loker-card {
  height: 17.5rem;
  position: relative;
  padding: 30px;
  /* margin-right: 30px; */
  margin-bottom: 30px;
  background-color: #edf5f8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.loker-card img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.loker-card h3 {
  color: #555064;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.loker-card h4 {
  color: #555064;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 20px;
}

.loker-card p {
  color: #7e7b85;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-red-loker {
  width: 100%;
  text-decoration: none;
  background-color: #D22344;
  color: white;
  font-weight: 700;
  padding: 14px 25px;
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.btn-transparent-loker {
  width: 100%;
  text-decoration: none;
  background-color: #d2234300;
  color: #D22344;
  font-weight: 700;
  padding: 14px 25px;
  background-color: rgba(210, 35, 68, 0.15);
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.text-danger {
  color: #D22344;
}

.bg-transparent-loker {
  background-color: rgba(210, 35, 68, 0.15);
  color: #D22344;
}

.btn-pagination-job {
  background-color: #D22344!important;
  color: #ffff!important;
}

.bg-transparent-loker-gray {
  background-color: #EDF5F8;
}

footer {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

.footer-content {
  display: flex;
}

.footer-content h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.desc {
  width: 33%;
  margin-right: 120px;
}

.informasi {
  width: 33%;
  margin-right: 120px;
}

.sosmed {
  width: 33%;
}

.foot-list {
  margin-bottom: 18px;
}

.foot-list a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-left: 16px;
}

.copyright-line {
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: 0.25;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

.copyright p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}


@media only screen and (max-width: 375px) {
  .hero-left {
    padding-right: 0;
  }
  .hero-left h1 {
    font-size: 35px!important;
  }

  #beranda {
    margin-top: 2rem;
  }

  #btnDetail {
    padding: 1rem 0.5rem;
  }

  .hero-left p {
    font-size: 11px;
  }

  .hero-right img {
    width: 75%;
  }

  .webinar {
    margin: 2rem 0;
  }

  .tentang {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tentang-video {
    width: 100%;
    margin-right: 0;
    padding: 1rem;
  }
  .webinar-card {
    margin: 30px 10px;
  }

  .tentang-title h2 {
    text-align: center;
  }

  .tentang-title h2 {
    width: 90%;
  }

  .tentang-title {
    width: 90%;
  }
  .tentang-title p {
    text-align: justify;
  }

  .loker {
    margin: 1rem 0;
  }

  .loker .row {
    display: flex;
    flex-direction: column;
  }

  .loker .row select {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 100%!important;
  }

  #containerJob {
        height: 100%!important;
    flex-direction: column;
  }

  .loker-card {
    height: 350px;
  }

  .loker-card button {
    margin-bottom: 10px;
  }
  
  .listJobs {
    width: 100%;
  }

  .container-loading {
    height: 100%!important;
  }

  .footer-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .informasi, .desc {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .sosmed {
    width: 100%;
    text-align: center;
  }

  .footer-content h2 {
    margin: 0;
  }
}



@media only screen and (max-width: 414px) {
  html, body{
        width:100%;
        overflow-x:hidden;
      }
  #beranda {
    margin-top: 2rem;
  }

  #btnDetail {
    padding: 1rem 0.5rem;
  }

  .hero-left p {
    font-size: 11px;
  }

  .hero-left h1 {
    color: #555064;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 30px;
}



  .hero-right img {
    width: 75%;
  }

  .webinar {
    margin: 2rem 0;
  }

  .tentang {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tentang-video {
    width: 100%;
    margin-right: 0;
    padding: 1rem;
  }
  .webinar-card {
    margin: 30px 10px;
  }

  .tentang-title h2 {
    text-align: center;
  }

  .tentang-title h2 {
    width: 90%;
  }

  .tentang-title {
    width: 90%;
  }
  .tentang-title p {
    text-align: justify;
  }

  .loker {
    margin: 1rem 0;
  }

  .loker .row {
    display: flex;
    flex-direction: column;
  }

  .loker .row select {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 100%!important;
  }

  #containerJob {
        height: 100%!important;
    flex-direction: column;
  }

  .loker-card {
    height: 350px;
  }

  .loker-card button {
    margin-bottom: 10px;
  }
  
  .listJobs {
    width: 100%;
  }

  .container-loading {
    height: 100%!important;
  }

  .footer-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .informasi, .desc {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .sosmed {
    width: 100%;
    text-align: center;
  }

  .footer-content h2 {
    margin: 0;
  }

  .hero-left {
    padding-right: 0;
  }
}

.hero-left {
  width: 100%;
}
@media only screen and (max-width: 414px) {
  #navbarSupportedContent li {
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    font-weight: 500!important;
  }
  .d-none-in-mobile {
    display: none!important;
  }

  .footer-navbar-mobile {
    display: flex!important;
    justify-content: center;
  }

  .navbar {
    background-color: #fff!important;
  }

  .navbar-toggler {
    border: none;
  }
}


.t-small {
  font-size: 0.8rem;
  color: gray;
}

@media only screen and (min-width: 1000px) {
  .btnHamburger {
    display: none!important;
  }
}

.border-none:focus {
  border: none!important;
  outline: none!important;
}

.btnHamburger {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}